@mixin border {
  border: 1px solid #dee2e6;
  border-radius: 4px;
}

:host {
  min-height: 1px;
  height: 100%;
}

*[hidden] {
  display: none !important;
}

.variable-title {
  font-weight: 600;
  text-decoration: underline;
}

.bold {
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 1px;
  height: 100%;
  gap: 32px;
  header {
    padding: 16px 24px;
    background-color: #274073;

    h1 {
      color: #fff;
      font-weight: 500;
      margin: 0;
    }
  }

  #start-btn {
    width: fit-content;
    align-self: center;
    background: #29a1a6;
    cursor: pointer;
  }

  .wrapper {
    min-height: 1px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px;
    gap: 16px;

    .groups {
      display: flex;
      flex-direction: column;
      overflow: auto;
      gap: 12px;

      #altered-results {
        width: fit-content;
        background: #d2382840;
        border-radius: 4px;
        padding: 4px;
        color: #f32813;
        font-weight: 600;
      }

      .group {
        display: flex;
        flex-direction: column;
        background: #ededed;
        border: 1px solid #e5e2e2;
        padding: 12px 16px;
        border-radius: 5px;

        .name {
          vaadin-checkbox {
            font-size: 16px;
            font-weight: 600;
          }
        }

        .items {
          display: flex;
          flex-direction: column;
          margin-left: 40px;
          vaadin-checkbox {
            font-size: 12px;
          }
        }
      }
    }

    .wrapper-right {
      display: flex;
      flex-direction: column;

      .final-text {
        @include border;
        background: #fff;
        min-height: 300px;
        padding: 12px;
        outline: none;
      }

      #copy-btn {
        width: fit-content;
        align-self: center;
        background: #ce603a;
        cursor: pointer;
      }
    }
  }
}
