body {
  margin: 0;
  overflow: hidden;
  font-size: 14px;
  background-color: #f5f6fa;
  font-family: 'Montserrat', sans-serif;
  pointer-events: auto !important;
}

html {
  font-size: 14px;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

html input {
  padding: 0;
}

html,
body {
  height: 100% !important;
  min-height: 1px !important;
}
